ion-image {
    width: 100%;
}

ion-col, ion-grid {
    margin: 0;
    padding: 0;
}

ion-col{
    margin: auto;
    display: block;
}

.nbPointsHeader {
    text-align: right;
    width: 90%;
    margin-top: 5rem;
    position: absolute;
}
