.imageJauge {
    width: 50%;
    margin-left: 5.7rem;
    position: absolute;
    margin-top: -3rem;
}

.imageCarte {
    width: 80%;
    margin: auto;
}

.points {
    margin-left: 2em;
    font-size: 22px;
    margin-top: -2rem;
}

.titreCarteFid {
    text-align: center;
    font-weight: bold;
    margin-bottom: -2rem;
    font-size: 30px;
}

.nbPoints {
    text-align: center;
    margin-top: 4.4rem;
    font-size: 18px;
}

.barcodeImage {
    position: absolute;
    top: 27%;
    width: 40%;
    margin-left: 30%;
    margin-bottom: 10%;
}
